.topLogoImage {
    padding:20px 10px;
}
.clusterLogo{
    position: absolute;
    right:.5em;
    top:.5em;
}
span.sideButton  {
    border-radius: 5px;
    border: 1px solid black;
    background: #fbfcfc;
    background: -moz-linear-gradient(top, #fbfcfc 0%, #a4d0d5 100%);
    background: -webkit-linear-gradient(top, #fbfcfc 0%,#a4d0d5 100%);
    background: linear-gradient(to bottom, #fbfcfc 0%,#a4d0d5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfcfc', endColorstr='#a4d0d5',GradientType=0 );
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    padding: 6px 7px;
}
.rightColumn {
    float: left;
    padding-bottom: 10px;
    width: 48%;
    margin-right:2%;
}
.sidebarJco {
	float: right;
	margin: 2% 0 2% 1.75%;
	padding-bottom: 10px;
	width: 192px;
	width:19%;
}
.pageNavColumnJ {
	background-color:#F3F3F3;
	border:3px ridge #0D7781;
	margin:2% 1.75%;
	padding: 0.5%;
}




