.topLogoSmall{
    width:250px;
    position:absolute;
    right:10px;
    top:0;
}

#scopeLogo {
    position: relative;
    right:0;
    top:0;
}
    
#scopeLogo img {
    border:none;
    margin-top:20px;
    margin-left:20px;
}


