

.pageNavColumn {
    border-color:#46166A;
}

div#searchNavMenu {
    background-color: #46166A;
}

.scopeLogo {
    top:50%;
    margin-top:-27px; 
}

.stlcopBox {
    margin: auto;
    width: 22%;
}
