.leftLogo {
    width: 250px;
    padding: 12px 4px;
}

.middleLogo {
    position: absolute;
    width: 250px;
    left: 36%;
    top: 5px;
}

.rightLogo {
    position: absolute;
    width: 250px;
    right: 10px;
    top: 24px;
}
.tipsTable {
    margin-right:20px;
}