.leftLogo {
    width: 109px;
    padding: 5px;
}

.middleLogo {
    position: absolute;
    width: 250px;
    left: 36%;
    top: 5px;
}

.rightLogo {
    position: absolute;
    width: 250px;
    right: 10px;
    top: 24px;
}