.leftLogo {
    width: 250px;
    padding: 12px 4px;
}

.middleLogo {
    position: absolute;
    width: ;
    left: ;
    top: ;
}

.rightLogo {
    position: absolute;
    width: 250px;
    right: 10px;
    top: 33px;
}
.tipsTable {
    margin-right:20px;
}