.scopeLogo {
    top:20px; 
}

.rightColumn {
    float: right;
    margin: 3em 0em;
    padding-bottom: 10px;
    width: 160px;
}

.sidebarJco {
	float: right;
	margin: 2% 0 2% 1.75%;
	padding-bottom: 10px;
	width: 192px;
	width:19%;
	padding:0.5%;
}

.pageNavColumnJ {
	background-color:#F3F3F3;
	border:3px ridge #0D7781;
	margin:2% 1.75%;
}

.mainMenuSrchText {
	margin-top: 1em;
}

.browseSearchtool td {
    border: medium none;
    padding: 5px;
    text-align: left;
}

.frontLimits {
    margin: auto;
    width: 28%;
}
