.leftLogo {
    width: 109px;
    padding: .5em;
}

.middleLogo {
    position: absolute;
    width: ;
    left: ;
    top: ;
}

.rightLogo {
    position: absolute;
    width: 250px;
    right: 10px;
    top: 33px;
}