.leftLogo {
    width: 250px;
    padding: 27px 5px;
}

.middleLogo {
    position: absolute;
    width: ;
    left: ;
    top: ;
}

.rightLogo {
    position: absolute;
    width: 250px;
    right: 10px;
    top: 33px;
}
body { font-size:95%; }

.briefcitDetail, .briefcitAuthDetail {
    width: 80%;
}

.briefcitJacket {
    width:0px;
}

#rightCol {
    font-size:16px;
}
