[%- scope = 'columbia' -%]
[%- PROCESS scopes -%]
[%- PROCESS styles -%]

a.bibDisplayContentMain, .resourceDisplayContentMain {
    margin-left:2em;
    margin-right:.5em;
    width:75%;
}

.bibDisplayJacket {
    width:8em;
}